<h2>File List</h2>
<ul>
  <% @filenames.each do |filename| %>
    <li>
      <a href="/<%= filename %>"><%= filename %></a>
      <a href="/edit/<%= filename %>" class="edit_link"> Edit</a>
      <a href="/delete/<%= filename %>" class="delete_link"> Delete</a>
    </li>
  <% end %>
  <div>
    <a href="/create/new-document">New Document</a>
  </div>
  <% if !session[:username] %>
    <form action="/user/login" method="GET">
      <button type="submit">Sign in</button>
    </form> 
  <% else %>
    <p>Signed in as <%= session[:username] %></p>
    <form action="/user/logout" method="POST">
      <button type="submit">Sign Out</button>
    </form> 
    <form action="/users/edit" method="GET">
      <button type="submit">Edit Users</button>
    </form> 
  <% end %>
</ul>
